DATABASE_URL=
REDIS_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

BINANCE_REST=
BINANCE_WS=
TWELVE_DATA_KEY=
TWELVE_DATA_REST=
ALPHA_VANTAGE_KEY=
COINGECKO_REST=

PORT=
NODE_ENV=
CORS_ORIGIN=
